<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Micropost sample app</h1>

  <h2>
    Based on Michael Hartl tutorial
    <% link_to "railstutorial.org", "https://www.railstutorial.org/" %>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%#= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
